<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yaen.starter.common.dal.mappers.OneMapper">

	<select id="selectByRowid" resultType="java.util.HashMap" parameterType="org.yaen.starter.common.dal.entities.OneEntity">
		SELECT
		`ROWID`
		<foreach collection="columns" index="index" item="info" open="," separator="," close="">
			`${info.columnName}`
		</foreach>
		FROM `${tableName}`
		WHERE `ROWID` = #{rowid}
	</select>

	<insert id="insertByRowid" useGeneratedKeys="true" keyProperty="id" parameterType="org.yaen.starter.common.dal.entities.OneEntity">
		INSERT INTO `${tableName}`
		(
		`ROWID`
		<foreach collection="columns" index="index" item="info" open="," separator="," close="">
			`${info.columnName}`
		</foreach>
		)
		VALUES
		(
		#{rowid}
		<foreach collection="columns" index="index" item="info" open="," separator="," close="">
			#{info.value}
		</foreach>
		)
	</insert>

	<update id="updateByRowid" parameterType="org.yaen.starter.common.dal.entities.OneEntity">
		UPDATE `${tableName}`
		SET
		<foreach collection="columns" index="index" item="info" open="" separator="," close="">
			`${info.columnName}` =
			#{info.value}
		</foreach>
		WHERE `ROWID` = #{rowid}
	</update>

	<delete id="deleteByRowid" parameterType="org.yaen.starter.common.dal.entities.OneEntity">
		DELETE FROM `${tableName}`
		WHERE `ROWID` = #{rowid}
	</delete>

</mapper>