<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yaen.starter.common.dal.mappers.ZeroMapper">
	<resultMap id="DescribeMap" type="org.yaen.starter.common.data.pos.MyDescribePO">
		<id column="Field" property="myField" jdbcType="VARCHAR" />
		<result column="Type" property="myType" jdbcType="VARCHAR" />
		<result column="Null" property="myNull" jdbcType="VARCHAR" />
		<result column="Key" property="myKey" jdbcType="VARCHAR" />
		<result column="Default" property="myDefault" jdbcType="VARCHAR" />
		<result column="Extra" property="myExtra" jdbcType="VARCHAR" />
	</resultMap>

	<select id="describeTable" resultMap="DescribeMap" parameterType="org.yaen.starter.common.data.pos.OnePO">
		DESC ${tableName}
	</select>

	<update id="createTable" parameterType="org.yaen.starter.common.data.pos.OnePO">
		CREATE TABLE `${tableName}`
		(
		`ID` bigint(20) NOT NULL AUTO_INCREMENT,
		<foreach collection="columns" index="index" item="info" open="" separator="," close=",">
			`${info.columnName}`
			${info.dataType}
			<if test="info.dataSize !=0">(${info.dataSize})</if>
			DEFAULT NULL
		</foreach>
		PRIMARY KEY (`ID`)
		)
		ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
	</update>

	<update id="addColumn" parameterType="org.yaen.starter.common.data.pos.OnePO">
		ALTER TABLE `${tableName}`
		ADD COLUMN
		<foreach collection="columns" index="index" item="info" open="" separator="" close="">
			<if test="index == addFieldName">
				`${info.columnName}`
				${info.dataType}
				<if test="info.dataSize !=0">(${info.dataSize})</if>
				DEFAULT NULL
			</if>
		</foreach>
	</update>

	<update id="modifyColumn" parameterType="org.yaen.starter.common.data.pos.OnePO">
		ALTER TABLE `${tableName}`
		MODIFY COLUMN
		<foreach collection="columns" index="index" item="info" open="" separator="" close="">
			<if test="index == modifyFieldName">
				`${info.columnName}`
				${info.dataType}
				<if test="info.dataSize !=0">(${info.dataSize})</if>
			</if>
		</foreach>
	</update>

</mapper>