<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!-- <properties resource="util/generatorConfig.properties" /> -->
	<classPathEntry location="C:\Users\xl\Documents\Spring\mybatis-generator\lib\mysql-connector-java-5.1.17-bin.jar" />
	<context id="Mysql2Tables" targetRuntime="MyBatis3" defaultModelType="conditional">
		<property name="suppressTypeWarnings" value="true" />
		<!--<plugin type="org.mybatis.generator.plugins.CachePlugin" /> <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" 
			/> <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" /> 此处是将Example改名为Criteria 当然 想改成什么都行~ -->
		<!--<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin"> <property name="searchString" value="Example$" 
			/> <property name="replaceString" value="Criteria" /> </plugin> <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" 
			/> <plugin type="org.mybatis.generator.plugins.SerializablePlugin" /> <plugin type="org.mybatis.generator.plugins.ToStringPlugin" 
			/> <plugin type="org.mybatis.generator.plugins.VirtualPrimaryKeyPlugin" /> <plugin type="com.shinowit.mybatis.plugin.SelectByPagePlugin" 
			/> <plugin type="com.shinowit.mybatis.plugin.Struts2ActionPlugin" /> <plugin type="org.mybatis.generator.plugins.MapperConfigPlugin"> 
			<property name="fileName" value="GeneratedMapperConfig.xml" /> <property name="targetPackage" value="com.crm.util" /> <property 
			name="targetProject" value="mybatis-generator" /> </plugin> -->
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example$" />
			<property name="replaceString" value="Criteria" />
		</plugin>
		<commentGenerator>
			<!-- 去除自动生成的注释 -->
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" 
		connectionURL="jdbc:mysql://mysql.dev.xianglin.com:3306/xlStation"
			userId="xldbuser" password="xldkfagsd">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="com.xianglin.xlnodecore.common.dal.model" targetProject="src">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="com.xianglin.xlnodecore.common.dal.mapper" targetProject="src">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<javaClientGenerator type="XMLMAPPER" targetPackage="com.xianglin.xlnodecore.common.dal.mapper" targetProject="src">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		<!-- tableName:用于自动生成代码的数据库表；domainObjectName:对应于数据库表的javaBean类名 -->
		
		<table tableName="xlc_v2_bank_import_batch" domainObjectName="V2BankimportBatch" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
				
		<table tableName="xlc_v2_bank_import_raw_detail" domainObjectName="V2BankimportRawDetail" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		
		<table tableName="xlc_v2_bank_import_raw_summary" domainObjectName="V2BankimportRawSummary" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		
<!-- 
		<table tableName="administrative_district_trg" domainObjectName="AdministrativeDistrictTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_combo_info" domainObjectName="CommunicationComboInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="communication_combo_info_trg" domainObjectName="CommunicationComboInfoTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_combo_terminal" domainObjectName="CommunicationComboTerminal"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_combo_terminal_trg" domainObjectName="CommunicationComboTerminalTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_number_info" domainObjectName="CommunicationNumberInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="communication_number_info_trg" domainObjectName="CommunicationNumberInfoTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_register_info" domainObjectName="CommunicationRegisterInfo"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_register_info_trg" domainObjectName="CommunicationRegisterInfoTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_terminal_info" domainObjectName="CommunicationTerminalInfo"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="communication_terminal_info_trg" domainObjectName="CommunicationTerminalInfoTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="org_employee" domainObjectName="OrgEmployee" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_employee_trg" domainObjectName="OrgEmployeeTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_organizational_unit" domainObjectName="OrgOrganizationalUnit" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_organizational_unit_trg" domainObjectName="OrgOrganizationalUnitTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_post_employee_assoc" domainObjectName="OrgPostEmployeeAssoc" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_post_employee_assoc_trg" domainObjectName="OrgPostEmployeeAssocTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_post_info" domainObjectName="OrgPostInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="org_post_info_trg" domainObjectName="OrgPostInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_car" domainObjectName="OutletCar" enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_car_trg" domainObjectName="OutletCarTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_contract" domainObjectName="OutletContract" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_contract_trg" domainObjectName="OutletContractTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_data_collect" domainObjectName="OutletDataCollect" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_data_collect_trg" domainObjectName="OutletDataCollectTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_facility_equipment" domainObjectName="OutletFacilityEquipment" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_facility_equipment_trg" domainObjectName="OutletFacilityEquipmentTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_info_abstract" domainObjectName="OutletInfoAbstract" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_info_abstract_trg" domainObjectName="OutletInfoAbstractTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_info_status" domainObjectName="OutletInfoStatus" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_info_status_trg" domainObjectName="OutletInfoStatusTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_manager_education_experience" domainObjectName="OutletManagerEducationExperience"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_manager_education_experience_trg" domainObjectName="OutletManagerEducationExperienceTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_manager_familly_info" domainObjectName="OutletManagerFamillyInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_manager_familly_info_trg" domainObjectName="OutletManagerFamillyInfoTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_manager_info" domainObjectName="OutletManagerInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_manager_info_trg" domainObjectName="OutletManagerInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_manager_work_experience" domainObjectName="OutletManagerWorkExperience"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_manager_work_experience_trg" domainObjectName="OutletManagerWorkExperienceTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_matching" domainObjectName="OutletMatching" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_matching_trg" domainObjectName="OutletMatchingTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_operation_situation" domainObjectName="OutletOperationSituation" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_operation_situation_trg" domainObjectName="OutletOperationSituationTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_transaction_record" domainObjectName="OutletTransactionRecord" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_transaction_record_history" domainObjectName="OutletTransactionRecordHistory"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_transaction_record_history_trg" domainObjectName="OutletTransactionRecordHistoryTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_transaction_record_statistics" domainObjectName="OutletTransactionRecordStatistics"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_transaction_record_statistics_trg" domainObjectName="OutletTransactionRecordStatisticsTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_transaction_record_trg" domainObjectName="OutletTransactionRecordTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="outlet_village_info" domainObjectName="OutletVillageInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="outlet_village_info_trg" domainObjectName="OutletVillageInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_agriculture_info" domainObjectName="PeasantAgricultureInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_agriculture_info_trg" domainObjectName="PeasantAgricultureInfoTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="peasant_agriculture_investment" domainObjectName="PeasantAgricultureInvestment"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="peasant_agriculture_investment_trg" domainObjectName="PeasantAgricultureInvestmentTrg"
			enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" />
		<table tableName="peasant_bank_card_info" domainObjectName="PeasantBankCardInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_bank_card_info_trg" domainObjectName="PeasantBankCardInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_family_info" domainObjectName="PeasantFamilyInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_family_info_trg" domainObjectName="PeasantFamilyInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_household_info" domainObjectName="PeasantHouseholdInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="peasant_household_info_trg" domainObjectName="PeasantHouseholdInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_announcement" domainObjectName="SystemAnnouncement" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_announcement_trg" domainObjectName="SystemAnnouncementTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_bank_info" domainObjectName="SystemBankInfo" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_bank_info_trg" domainObjectName="SystemBankInfoTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_log" domainObjectName="SystemLog" enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_log_trg" domainObjectName="SystemLogTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_resource" domainObjectName="SystemResource" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_resource_trg" domainObjectName="SystemResourceTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_role" domainObjectName="SystemRole" enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_role_resource" domainObjectName="SystemRoleResource" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_role_resource_trg" domainObjectName="SystemRoleResourceTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_role_trg" domainObjectName="SystemRoleTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_setitem" domainObjectName="SystemSetitem" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_setitem_trg" domainObjectName="SystemSetitemTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_user" domainObjectName="SystemUser" enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_user_district" domainObjectName="SystemUserDistrict" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_user_district_trg" domainObjectName="SystemUserDistrictTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_user_role" domainObjectName="SystemUserRole" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_user_role_trg" domainObjectName="SystemUserRoleTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
		<table tableName="system_user_trg" domainObjectName="SystemUserTrg" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false" />
 -->
	</context>
</generatorConfiguration>  